<mat-nav-list>
  <div class="profile-card">
<div class="header">
   
</div></div>
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>
<!-- //<a mat-list-items routerLinkActive="list-item-active" routerLink="/">DashBoard</a> -->

<br> 
<!-- <a mat-list-items routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->
<mat-divider></mat-divider>
  <h2 matSubHeader>Tools</h2><br>
  <a mat-list-items routerLinkActive="list-item-active" routerLink="/contacts">
  <mat-icon>import_contacts</mat-icon>
  </a>
  <a mat-list-items routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contacts_phone</mat-icon>
  
  </a> 
  
</mat-nav-list>
