<mat-nav-list>
  <div class="profile-card">
<div class="header">
  <h2>Farahan Pathan</h2>
<h4>farahanpathan@gmail.com</h4>
</div>
<img src="https://pbs.twimg.com/profile_images/505802456161193984/lvECfdwa_400x400.png" alt="Farahan Pathan" >
  </div>
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>
<a mat-list-items routerLinkActive="list-item-active" routerLink="/">DashBoard</a>
<a mat-list-items routerLinkActive="list-item-active" routerLink="/posts">Posts</a> 
<a mat-list-items routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
<mat-divider></mat-divider>
  <h2 matSubHeader>Tools</h2>
  <a mat-list-items routerLinkActive="list-item-active" routerLink="/contacts">
  <mat-icon>import_contacts</mat-icon>
  Contacts  
</a>
  <a mat-list-items routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contacts_phone</mat-icon>
  Leads  
  </a>
  
</mat-nav-list>
